.bookmark {
    width: 140px;
    height: 140px;
    margin: 0 5px 5px 0;
    font-size: 0.8em;
    font-family: monospace;
    float: left;
    background-size: 100% auto;
    position: relative;
}

.title {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: absolute;
}

.type {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 0.8em;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.slides-container {
    margin: 10px auto;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border: #000000 10px solid;
    position: relative;
}
.slides-container img {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
}
@keyframes round {
    25%{opacity:1;}
    40%{opacity:0;}
}
img:nth-child(4) { animation-delay: 0s; }
img:nth-child(3) { animation-delay: 4s; }
img:nth-child(2) { animation-delay: 8s; }
img:nth-child(1) { animation-delay: 12s; }
