.cover {
    width: 140px;
    height: 140px;
    margin: 5px;
    font-size: 0.8em;
    font-family: monospace;
    float: left;
    background-size: 100% auto;
    position: relative;
}

.title {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.source {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: absolute;
    height: 1em;
    bottom: 0px;
    right: 0px;
}
